@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// GENERAL

h1, h2 {
  text-transform: uppercase;
}

h1 {
  background-color: $secondary-color;
  background-image: url('../img/simpleswirls.jpg');
  background-repeat: repeat;
  background-position: center center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px $monsoon;
}

.row:not(.intro):not(.icons) h2 {
  background-color: $secondary-color;
  color: white;
  font-size: 120%;
  font-weight: $font-weight-bold;
  padding: 0.5rem 1em;
} // .row h2
// END GENERAL

header {
  background-color: white;
  border-bottom: 1px solid $ltiron;
}

.top-bar {
  background-color: $dktuna;
  text-transform: uppercase;
  color: $ltmanatee;
  height: auto;
  box-shadow: 0 3px 3px $tuatara;
  
  ul li {
    background-color: transparent;
    text-align: center;
    display: inline-block;
  }
  
  .top-bar-section li:not(.has-form) a:not(.button).highlight {
    background-color: $primary-color;
  }
} // .top-bar

.intro {
  text-align: center;
  
  h2 {
    
  } // h2
} // .intro


// ICON BAR
.icons h2 {
  background: none;
  color: $monsoon;
  font-size: 100%;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif;
}
.icon-bar {
  background: none;
  
  > * {
    padding: 0.25em;
  }
  
  .item {
    a {
      display: block;
      width: 100%;
      height: 4rem;
      padding: 0.8rem 1em;
      background-color: $white;
      border: solid 1px $dksmoke;
      
      &:hover {
	background-color: $icon-bar-active-color;
      }
    } // a
  } // item
} // .icon-bar
.category {
  &.fa {
    font-size: 36px;
  }
  &.fa-microphone {
    color: $steel;
  }
  &.fa-lightbulb-o {
    color: $ltcorn;
  }
  &.fa-graduation-cap {
    color: navy;
  }
  &.fa-line-chart {
    color: $primary-color;
  }
  &.fa-heart {
    color: red;
  }
  &.fa-code {
    color: $ltverdun;
  }
  &.fa-comments {
    color: $ltelecviolet;
  }
  &.fa-diamond {
    color: $ltdodger;
  }
} // category
// END ICON BAR


.agenda-item {
  position: relative;
  
  > div {
    position: relative;
  }
  
  .event-icon {
    font-size: 400%;
    color: $ltspindle;
    position: absolute;
    left: 0;
    top: 28%;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  } // .event-icon
  
  .time {
    background-color: $ltriver;
    color: $white;
    text-align: center;
    margin: 0;
  } // .time
  
  .desc {
    background-color: $white;
    color: $subgray;
    font-weight: $font-weight-bold;
    font-style: italic;
    font-size: 90%;
    border: solid $ltiron;
    border-width: 0 1px 1px;
    padding: 0.5rem 1em;
    height: 12rem;
  } // .desc
  
  h3 {
    font-size: 110%;
  }
  
  p {
    margin: 0 0 0.1rem;
  }
  
  footer {
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-weight: $font-weight-normal;
    font-style: normal;
    width: 100%;
    padding: 0 1em;
  } // footer
  
  .category {
    position: absolute;
    left: 6px;
    bottom: 2rem;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    box-shadow: 0 2px 4px $steel;
    
    img {
      height: 2em;
      margin: 1em auto;
    }
  } // .category
  .viewmore {
      display: block;
      width: 100%;
      
      .fa-info-circle {
	float: right;
	font-size: 1.5em;
      }
    } // .viewmore
} // agenda-item


// FOOTER
#main-footer {
  background-color: $white;
  margin-top: 1rem;
  border: solid 1px $ltiron;
} // #main-footer

#creditnav {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  
  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  } // li
} // #creditnav
// END FOOTER

// MODALS
.fade {
  opacity: 0;
  transition: opacity 0.15s linear 0s;
  
  &.in {
    opacity: 1;
  }
} // fade
  
.reveal-modal {
  outline: 0 none;
  
  &.fade {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
  }
  &.in {
    transform: translate(0px, 0px);
  }
} // .reveal-modal
// END MODALS