@import "settings";
@import "foundation";

// Or selectively include components
/*
@import 'foundation/components/grid';
@import 'foundation/components/accordion';
@import 'foundation/components/alert-boxes';
@import 'foundation/components/block-grid';
@import 'foundation/components/breadcrumbs';
@import 'foundation/components/button-groups';
@import 'foundation/components/buttons';
@import 'foundation/components/clearing';
@import 'foundation/components/dropdown';
@import 'foundation/components/dropdown-buttons';
@import 'foundation/components/flex-video';
@import 'foundation/components/forms';
@import 'foundation/components/icon-bar';
@import 'foundation/components/inline-lists';
@import 'foundation/components/joyride';
@import 'foundation/components/keystrokes';
@import 'foundation/components/labels';
@import 'foundation/components/magellan';
@import 'foundation/components/orbit';
@import 'foundation/components/pagination';
@import 'foundation/components/panels';
@import 'foundation/components/pricing-tables';
@import 'foundation/components/progress-bars';
@import 'foundation/components/range-slider';
@import 'foundation/components/reveal';
@import 'foundation/components/side-nav';
@import 'foundation/components/split-buttons';
@import 'foundation/components/sub-nav';
@import 'foundation/components/switches';
@import 'foundation/components/tables';
@import 'foundation/components/tabs';
@import 'foundation/components/thumbs';
@import 'foundation/components/tooltips';
@import 'foundation/components/top-bar';
@import 'foundation/components/type';
@import 'foundation/components/offcanvas';
@import 'foundation/components/visibility';
*/


// GENERAL

h1, h2 {
  text-transform: uppercase;
}

h1 {
  background-color: $secondary-color;
  background-image: url('../img/simpleswirls.jpg');
  background-repeat: repeat;
  background-position: center center;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px $monsoon;
  margin: 0;
  @media #{$small-only} {
    font-size: 300%;
    padding: 0.5em;
    line-height: 1.2;
  }
  @media #{$medium-only} {
    padding: 12px;
  }
  @media #{$medium-up} {
    font-size: 400%;
    min-height: 160px;
  } // medium-up
  @media #{$large-up} {
    padding: 64px 0;
  } // large-up
}

.row:not(.intro):not(.icons) h2 {
  background-color: $secondary-color;
  color: white;
  font-size: 120%;
  font-weight: $font-weight-bold;
  padding: 0.5rem 1em;
} // .row h2
// END GENERAL

header {
  background-color: white;
  border-bottom: 1px solid $ltiron;
}

.top-bar {
  text-transform: uppercase;
  color: $ltmanatee;
  box-shadow: 0 3px 3px $tuatara;
  
  @media #{$small-only} {
    height: 72px;
    &.expanded .title-area {
      background-color: $oil;
    }
  }
  @media #{$medium-up} {
    height: auto !important;
    // !important needed to override inline styling created by Angular Foundation
  }
  
  ul > div, ul > li {
    @media #{$medium-up} {
      display: inline-block;
      height: 65px;
    } // medium-up
  } // ul > div
  
  ul li {
    text-align: center;
    @media #{$medium-up} {
      background-color: transparent;
      line-height: 72px;
    }
  } // ul li
  
  .title-area .name img {
    @media #{$small-only} {
      height: 50px;
      padding: 4px 0 0;
    }
    @media #{$medium-up} {
      height: 70px;
      padding: 0 40px 6px;
    }
  } // .title-area .name img  
} // .top-bar

.top-bar-section {
  @media #{$small-only} {
    background-color: $topbar-bg-color;
  }
  
  li:not(.has-form) a:not(.button),
  li.active:not(.has-form) > a:not(.button),
  .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    line-height: inherit;
  }
  
  li:not(.has-form) a:not(.button).highlight {
    background-color: $primary-color;
    color: $white;
  }
  
  .has-dropdown > a:after {
    margin-top: 0;
    @media #{$small-only} {
      top: 38%;
      right: 0.5em;
    }
    @media #{$medium-up} {
      top: 2.1rem;
    }
  } // dropdown icon
  
  li.back h5 {
    font-family: "FontAwesome";
    font-weight: normal;
    font-size: 100%;
    
    a:link {
      background-color: $black;
      &:hover {
	background-color: $topbar-link-bg-hover;
      }
    }
  }
} // .top-bar-section

.intro {
  text-align: center;
  
  h2 {
    margin-top: 2.5rem;
    
    @media #{$small-only} {
      font-size: 150%;
    }
    @media #{$medium-up} {
      font-size: 250%;
    }
  } // h2
} // .intro


// ICON BAR
.icons h2 {
  background: none;
  color: $monsoon;
  font-size: 100%;
  font-weight: $font-weight-bold;
  font-family: $font-family-sans-serif;
}
.icon-bar {
  background: none;
  
  > * {
    padding: 0.25em;
  }
  
  .item {
    a {
      display: block;
      width: 100%;
      height: 4rem;
      padding: 0.8rem 1em;
      background-color: $white;
      border: solid 1px $dksmoke;
      
      &:hover {
	background-color: $icon-bar-active-color;
      }
    } // a
  } // item
} // .icon-bar
@media #{$small-only} {
  .eight-up .item {
    width: 25% !important;
  }
}
.category {
  &.fa {
    font-size: 36px;
  }
  &.fa-microphone {
    color: $steel;
  }
  &.fa-lightbulb-o {
    color: $ltcorn;
  }
  &.fa-graduation-cap {
    color: navy;
  }
  &.fa-line-chart {
    color: $primary-color;
  }
  &.fa-heart {
    color: red;
  }
  &.fa-code {
    color: $ltverdun;
  }
  &.fa-comments {
    color: $ltelecviolet;
  }
  &.fa-diamond {
    color: $ltdodger;
  }
} // category
// END ICON BAR


.agenda-item {
  position: relative;
  
  > div {
    position: relative;
  }
  
  .event-icon {
    font-size: 400%;
    color: $ltspindle;
    position: absolute;
    left: 0;
    top: 28%;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  } // .event-icon
  
  .time {
    background-color: $ltriver;
    color: $white;
    text-align: center;
    margin: 0;
  } // .time
  
  .desc {
    background-color: $white;
    color: $subgray;
    font-weight: $font-weight-bold;
    font-style: italic;
    font-size: 90%;
    border: solid $ltiron;
    border-width: 0 1px 1px;
    padding: 0.5rem 1em;
    height: 12rem;
  } // .desc
  
  h3 {
    font-size: 110%;
  }
  
  p {
    margin: 0 0 0.1rem;
  }
  
  footer {
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-weight: $font-weight-normal;
    font-style: normal;
    width: 100%;
    padding: 0 1em;
  } // footer
  
  .category {
    position: absolute;
    left: 6px;
    bottom: 2rem;
    border-radius: 50%;
    background-color: $white;
    text-align: center;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    box-shadow: 0 2px 4px $steel;
    
    img {
      height: 2em;
      margin: 1em auto;
    }
  } // .category
  .viewmore {
      display: block;
      width: 100%;
      
      .fa-info-circle {
	float: right;
	font-size: 1.5em;
      }
    } // .viewmore
} // agenda-item


// FOOTER
#main-footer {
  background-color: $white;
  margin-top: 1rem;
  border: solid 1px $ltiron;
  padding: 0.5em 1em;
} // #main-footer

#creditnav {
  display: inline;
  margin-left: 0;
  padding-left: 0;
  
  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1em;
  } // li
} // #creditnav
// END FOOTER

// MODALS
.fade {
  opacity: 0;
  transition: opacity 0.15s linear 0s;
  
  &.in {
    opacity: 1;
  }
} // fade
  
.reveal-modal {
  outline: 0 none;
  
  &.fade {
    transform: translate(0px, -25%);
    transition: transform 0.3s ease-out 0s;
  }
  &.in {
    transform: translate(0px, 0px);
  }
} // .reveal-modal
// END MODALS