<header>
  <h1>Register</h1>

  <section class="intro row">
    <h2>Sample Registration Form</h2>
    
    <p>This form demonstrates AngularJS's form validation functionality.</p>
  </section><!-- intro -->
</header>

<form novalidate id="registration-form">
  <div class="row">
    <div class="large-4 small-12 columns">
      <label>Name</label>
      <input id="name" type="text" placeholder="Your Name" ng-model="user.name" ng-model-options="{updateOn: 'blur'}" required="required" />
    </div>
    <div class="large-4 small-12 columns">
      <label>Phone Number</label>
      <input id="phone" type="tel" placeholder="(xxx)&nbsp;xxx-xxxx" ng-model-options="{updateOn: 'blur'}" required="required" />
    </div>
    <div class="large-4 small-12 columns">
      <label>Email</label>
      <input id="email" type="email" placeholder="email@example.com" ng-model="user.email" required="required" />
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>
    <div class="small-12 columns">
      <input type="button" ng-click="reset()" value="Reset" />
      <input type="submit" value="Submit" />
    </div>
  </div><!-- row -->
</form>
