<header>
  <h1>Register</h1>

  <section class="intro row">
    <h2>Sample Registration Form</h2>
    
    <p>This form demonstrates AngularJS's form validation functionality.</p>
  </section><!-- intro -->
</header>

<form novalidate id="registration-form">
  <div class="row">
    <div class="large-4 small-12 columns">
      <label>Name</label>
      <input id="name" type="text" placeholder="Your Name" ng-model="user.name" ng-model-options="{updateOn: 'blur'}" required="required" />
    </div>
    <div class="large-4 small-12 columns">
      <label>Phone Number</label>
      <input id="phone" type="tel" placeholder="(xxx)&nbsp;xxx-xxxx" ng-model="user.phone" ng-model-options="{updateOn: 'blur'}" required="required" ui-mask="{{'(999) 999-9999'}}" />
    </div>
    <div class="large-4 small-12 columns">
      <label>Email</label>
      <input id="email" type="email" placeholder="email@example.com" ng-model="user.email" required="required" />
      <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="small-6 columns">
      <h3>Register for Days:</h3>
      <fieldset>
	<input type="checkbox" name="reg_day" value="03-31" ng-model="user.reg0331" /><label>March 31</label><br/>
	<input type="checkbox" name="reg_day" value="04-01" ng-model="user.reg0401" /><label>April 1</label><br/>
	<input type="checkbox" name="reg_day" value="04-02" ng-model="user.reg0402" /><label>April 2</label>
      </fieldset>
    </div>
    <div class="small-6 columns">
      <div id="price-legend" ng-show="totalPrice == 0">
	<h3>Pricing:</h3>
	<table class="price">
	  <tr>
	    <td>1 day:</td>
	    <td class="currency">$100</td>
	  </tr><tr>
	    <td>2 days:</td>
	    <td class="currency">$175</td>
	  </tr><tr>
	    <td>3 days:</td>
	    <td class="currency">$225</td>
	  </tr>
	</table>
      </div><!-- price-legend -->
      
      <div id="price-calculated" ng-show="totalPrice > 0">
	<h3>Your Cost:</h3>
	<table class="price">
	  <tr id="ticketPrice">
	    <td>{{numDays}}-day registration:</td>
	    <td class="currency">{{ticketPrice | currency}}</td>
	  </tr><tr id="tax">
	    <td>Sales tax:</td>
	    <td class="currency">{{tax | currency}}</td>
	  </tr><tr id="totalPrice">
	    <td>Total:</td>
	    <td class="currency">{{calcPrice() | currency}}</td>
	  </tr>
	</table>
      </div><!-- price-calculated -->
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="small-12 columns">
      <input type="button" ng-click="reset()" value="Reset" />
      <input type="submit" value="Submit" />
    </div>
  </div><!-- row -->
</form>
