<!doctype html>
<html lang="en" ng-app="conferenceApp">
<head>
  <meta charset="utf-8">
  <title>Categories</title>
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/app.css" />
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<div ng-controller="TopBarCtrl">
  <top-bar>
    <ul class="title-area">
      <li class="name">
        <a href="javascript:void(0)"><img src="img/con-logo.png" alt="New Media Con" /></a>
      </li>
      <li class="dates">March 31st - April 2nd 2015</li>
    </ul>

    <top-bar-section>
      <!-- Right Nav Section -->
      <ul class="right">
        <li ng-repeat="nav_item in topnav" ng-class="{ 'active': isActive(nav_item.link.split('#')[1]), 'has-dropdown not-click': nav_item.children }">
	  <a class="{{nav_item.class}}" href="{{nav_item.link}}">{{nav_item.name}}</a>
	  <ul ng-if="nav_item.children" class="dropdown">
	    <li ng-repeat="subnav_item in nav_item.children"><a href="{{subnav_item.link}}">{{subnav_item.name}}</a></li>
	  </ul>
        </li>
      </ul>
    </top-bar-section>
  </top-bar>
</div>

<div ng-view></div>

<div ng-controller="CreditCtrl">
  <footer id="main-footer">
    <p>Original content and site code &copy; 2015 Thaddeus Boyd</p>
    
    <div>Additional credits and copyrights:
      <ul id="creditnav">
	<li ng-repeat="credit_category in credits"><a href="javascript:void(0)" ng-click="open()">{{credit_category.name}}</a></li>
      </ul><!-- creditnav -->
    </div>
  </footer>
  <script type="text/ng-template" id="myModalContent.html">
    <h2>I'm a modal!</h2>
    <ul>
      <li ng-repeat="credit_category in credits">
	{{ credit_category.id }}
      </li>
    </ul>
    <p>Selected: <b>{{ selected.item }}</b></p>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
  </script>
  

  <section ng-repeat="credit_category in credits" id="{{credit_category.id}}" class="reveal-modal" data-reveal>
    <h2>{{credit_category.name}}</h2>
    <p ng-repeat="credit in credit_category.credits" ng-bind-html="credit"></p>
  </section>
</div><!-- creditctrl -->


<!-- script src="bower_components/jquery/src/jquery.js"></script -->
<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/fastclick.js"></script>
<script src="js/foundation/foundation.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/foundation/foundation.reveal.js"></script>

</body>
</html>
