<p><a href="http://www.freeimages.com/photo/1152047">Glossy Ball 1</a> by <a href="http://www.freeimages.com/profile/barunpatro">Barun Patro</a></p>

<p><a href="http://www.freeimages.com/photo/1326374">Simple Swirls 1</a> by <a href="http://www.freeimages.com/profile/k_vohsen">Kimberly Vohsen</a></p>

<p><a href="http://www.freeimages.com/photo/746718">Stock Portrait 4</a> by <a href="http://www.freeimages.com/profile/makram">Malik Bhai</a></p>

<p><a href="http://www.freeimages.com/photo/1141475">Spontaneous</a> by <a href="http://www.freeimages.com/profile/bjearwicke">Benjamin Earwicker</a></p>

<p><a href="http://www.freeimages.com/photo/442249">Kenny in London 30</a> by <a href="http://www.freeimages.com/profile/matchstick">Martin Walls</a></p>

<p><a href="http://www.freeimages.com/photo/1418622">Futuristic Glasses</a> by <a href="http://www.freeimages.com/profile/l4red0">Leszek Soltys</a></p>

<p><a href="http://www.freeimages.com/photo/1167030">Guy 1</a> by <a href="http://www.freeimages.com/profile/keenanm">Keenan Milligan</a></p>

<p><a href="http://www.freeimages.com/photo/1168191">Smiling So Happy</a> by <a href="http://www.freeimages.com/profile/jvangalen">Jos van Galen</a></p>

<p><a href="http://www.freeimages.com/photo/1166915">Tomasito Superstar</a> by <a href="http://www.freeimages.com/profile/coloniera2">Hector Landaeta</a></p>

<p><a href="http://www.freeimages.com/photo/1363173">Rural Self Portrait</a> by <a href="http://www.freeimages.com/profile/colinbroug">Colin Brough</a></p>

<p><a href="http://www.freeimages.com/photo/1287009">Coffee Smile</a> by <a href="http://www.freeimages.com/profile/michaelaw">Michaela Kobyakov</a></p>

<p>Striped background created with <a href="http://www.stripegenerator.com/">Stripe Generator</a></p>